.footer {
  width: 95.4%;
  margin-left: 40px;
  margin-bottom: 80px;
  /* background-color: #f3f3f3; */
  border: 1px solid #000;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-column {
  min-height: 430px;
  padding: 30px 24px;
  border-right: 1px solid #000;
}

.footer-column:last-child {
  border-right: none;
}

.follow {
  background-color: var(--mainColor);
}

.footer-column h3 {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 90px;
}

.footer-column ul {
  list-style: none;
}

.footer-column li {
  margin-bottom: 18px;
}

.footer-column a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.footer-middle {
  height: 105px;
  border-top: 1px solid #000;

  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-content: center;
  gap: 120px;
}

.footer-middle a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.footer-payments {
  background-color: #000;
  padding: 28px 20px;
  text-align: center;
}

.footer-payments h4 {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.payment-icons {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  justify-content: center;
  gap: 18px;
}

.payment-icons img {
  width: 48px;
  height: auto;
  border-radius: 8px;
}

.footer-bottom {
  height: 65px;
  display: grid;
  place-items: center;
  /* background-color: #f3f3f3; */
}

.footer-bottom p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #000;
}

/* =========================
   TABLET 768px - 1024px
   ========================= */
@media screen and (max-width: 1120px) {
  .footer-top {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-column {
    min-height: auto;

    border: 1px solid black;
  }
}

@media (max-width: 880px) {
  .footer {
    width: 95.4%;
    margin: 0 auto 80px;
    /* padding: 0 40px; */
    box-sizing: border-box;
  }

  .footer-top {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .footer-middle {
    display: flex;

    text-align: center;

    justify-content: center;
    align-content: center;
  }

  .footer-middle a {
    align-items: center;
    margin-top: 40px;
  }

  .payment-icons {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    justify-content: center;
    gap: 18px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: calc(100% - 20px);
    margin: 0 10px;
  }

  /* TOP */
  .footer-top {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-column {
    min-height: auto !important;
    padding: 20px 15px;
    border-right: none !important;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }

  .footer-column:last-child {
    border-bottom: none;
  }

  /* MIDDLE */
  .footer-middle {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  /* PAYMENTS */
  .payment-icons {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .payment-icons img {
    width: 40px;
  }

  /* TEXT */
  .footer-bottom {
    text-align: center;
    padding: 15px;
  }
}
